@font-face {
  font-family: "Marvel";
  src: url("../fonts/Marvel-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Open Sans Bis";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

/* @media screen and (max-width: 320px) {
  body {
    font: 10px / em/rm;
  }
}
@media screen and (max-width: 1204px) {
  body {
    font: 20px / em/rm;
  }
} */

body {
  font-family: "Marvel", "Open Sans", "sans-serif";
  color: #212529;
}

.list-inline-item {
  font-size: 0.9vw;
}

.list-inline-item a {
  color: #212529;
  text-decoration: none;
}

.list-inline-item a:hover {
  color: #22b8f0;
}

.grey-light {
  background-color: #f5f5f5;
}

.white-light {
  background-color: #ffffff;
}

.nav-text {
  letter-spacing: 0.15vw;
}

.icon {
  font-size: 2.5vw;
  width: 2.5vw;
  height: 2.5vw;
  color: #22b8f0;
}

.logo {
  width: 10vw;
  height: 3vw;
}

#informations i {
  color: #999999;
}

.btn-services {
  color: #fff;
  background-color: #22b8f0;
  border-color: #22b8f0;
}

/* #services,
#carousel {
  font-family: "Marvel", "Open Sans", "sans-serif";
} */

#carouselExampleCaptions h5 {
  font-size: 2.95vw;
}

#carouselExampleCaptions p {
  font-size: 2vw;
}

/* #data-science p {
  line-height: 15px;
  margin: 15px 0;
} */

.carousel-caption-fs {
  right: 60%;
  left: 10%;
  bottom: 30%;
}

.carousel-caption-f {
  right: 10%;
  left: 70%;
  bottom: 30%;
}

/* h1 {
  font-size: 3vw;
}

#services h3 {
  font-size: 2.4vw;
}

#services p {
  font-size: 1.2vw;
} */

.desktop-img {
  font-size: 15vw;
  width: 15vw;
  height: 15vw;
  color: #22b8f0;
}

/* circle bullet */

.bullet-circle {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: #22b8f0;
  color: #ffffff;
  border-radius: 100px;
  text-align: center;
}
