@font-face {
  font-family: "Marvel";
  src: url("../fonts/Marvel-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Open Sans Bis";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf");
}

body {
  font-family: "Open Sans", "sans-serif";
}

.list-inline-item {
  font-size: 12px;
}

.list-inline-item a {
  color: #333;
  text-decoration: none;
}

.list-inline-item a:hover {
  color: #22b8f0;
}

.grey-light {
  background-color: #f5f5f5;
}

.white-light {
  background-color: #ffffff;
}

.nav-text {
  letter-spacing: 1px;
}

.icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  color: #22b8f0;
}

#informations i {
  color: #999999;
}

.btn-services {
  color: #fff;
  background-color: #22b8f0;
  border-color: #22b8f0;
}

#services {
  font-family: "Marvel", "Open Sans", "sans-serif";
}
